TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=
TELEGRAM_WEBHOOK_SECRET=
GROQ_API_KEY=
NOTION_API_KEY=
NOTION_DATA_SOURCE_ID=a43a24db-f04e-42ac-bb0d-d6d45c1aa398

WHISPER_MODEL=whisper-large-v3-turbo
METADATA_MODEL=openai/gpt-oss-20b
NOTION_VERSION=2026-03-11
